<form [formGroup]="fg" (ngSubmit)="agregar()" appResaltar>
  <div class="mb-3">
    <label for="txtNombre" class="form-label">{{ 'FORM_NOMBRE' | translate }}</label>
    <input type="text" class="form-control" id="txtNombre"
           #nombreInput
           formControlName="nombre" [placeholder]="'FORM_NOMBRE_PLACEHOLDER' | translate">

    <!-- Lista de sugerencias del autocomplete -->
    <ul class="list-group sugerencias" *ngIf="searchResults.length > 0">
      <li class="list-group-item list-group-item-action sugerencia-item"
          *ngFor="let lugar of searchResults"
          (click)="seleccionarSugerencia(lugar)">
        📍 {{ lugar.nombre }}
      </li>
    </ul>

    <div *ngIf="fg.controls['nombre'].touched && fg.controls['nombre'].hasError('required')" class="text-danger">
      ⚠️ {{ 'ERROR_REQUERIDO' | translate }}
    </div>
    <div *ngIf="fg.controls['nombre'].touched && fg.controls['nombre'].hasError('invalidNombre')" class="text-danger">
      ⚠️ {{ 'ERROR_NOMBRE_INVALIDO' | translate }}
    </div>
    <div *ngIf="fg.controls['nombre'].touched && fg.controls['nombre'].hasError('minLogNombre')" class="text-danger">
      ⚠️ {{ 'ERROR_MIN_LONGITUD' | translate: { min: fg.controls['nombre'].getError('minLogNombre').requiredLength, actual: fg.controls['nombre'].getError('minLogNombre').actualLength } }}
    </div>
  </div>
  <div class="mb-3">
    <label for="txtUrl" class="form-label">{{ 'FORM_URL' | translate }}</label>
    <input type="text" class="form-control" id="txtUrl"
           formControlName="url" [placeholder]="'FORM_URL_PLACEHOLDER' | translate">
    <div *ngIf="fg.controls['url'].touched && fg.controls['url'].hasError('required')" class="text-danger">
      ⚠️ El enlace de la imagen es requerido.
    </div>
  </div>
  <button *ngIf="fg.get('nombre')?.value" type="submit" class="btn btn-success w-100">
    {{ 'FORM_AGREGAR' | translate }}
  </button>
</form>
